@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #11071f;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
